.css-sprite-social5 {
  background: url("../img/moderno/css-sprite-combined.png") 0px -0px;
  width: 28px;
  height: 28px;
  display: inline-block;
}

.css-sprite-social1 {
  background: url("../img/moderno/css-sprite-combined.png") -28px -0px;
  width: 28px;
  height: 28px;
  display: inline-block;
}

.css-sprite-social2 {
  background: url("../img/moderno/css-sprite-combined.png") -56px -0px;
  width: 28px;
  height: 28px;
  display: inline-block;
}

.css-sprite-social3 {
  background: url("../img/moderno/css-sprite-combined.png") -84px -0px;
  width: 28px;
  height: 28px;
  display: inline-block;
}

.css-sprite-social4 {
  background: url("../img/moderno/css-sprite-combined.png") -112px -0px;
  width: 28px;
  height: 28px;
  display: inline-block;
}
