@charset "UTF-8";
.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.item-1 {
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-animation: right-1 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: right-1 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-1 > * {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #e8ddb5;
}
@-webkit-keyframes right-1 {
  10% {
    -webkit-transform: rotate(250deg) translate(0, 0px);
            transform: rotate(250deg) translate(0, 0px);
  }
  50%, 65% {
    -webkit-transform: rotate(250deg) translateX(-100px);
            transform: rotate(250deg) translateX(-100px);
  }
  100% {
    -webkit-transform: rotate(250deg) translate(0, 0px);
            transform: rotate(250deg) translate(0, 0px);
  }
}
@keyframes right-1 {
  10% {
    -webkit-transform: rotate(250deg) translate(0, 0px);
            transform: rotate(250deg) translate(0, 0px);
  }
  50%, 65% {
    -webkit-transform: rotate(250deg) translateX(-100px);
            transform: rotate(250deg) translateX(-100px);
  }
  100% {
    -webkit-transform: rotate(250deg) translate(0, 0px);
            transform: rotate(250deg) translate(0, 0px);
  }
}

.item-2 {
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-animation: right-2 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: right-2 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-2 > * {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #e8ddb5;
}
@-webkit-keyframes right-2 {
  10% {
    -webkit-transform: rotate(375deg) translate(0, 0px);
            transform: rotate(375deg) translate(0, 0px);
  }
  50%, 65% {
    -webkit-transform: rotate(375deg) translateX(-100px);
            transform: rotate(375deg) translateX(-100px);
  }
  100% {
    -webkit-transform: rotate(375deg) translate(0, 0px);
            transform: rotate(375deg) translate(0, 0px);
  }
}
@keyframes right-2 {
  10% {
    -webkit-transform: rotate(375deg) translate(0, 0px);
            transform: rotate(375deg) translate(0, 0px);
  }
  50%, 65% {
    -webkit-transform: rotate(375deg) translateX(-100px);
            transform: rotate(375deg) translateX(-100px);
  }
  100% {
    -webkit-transform: rotate(375deg) translate(0, 0px);
            transform: rotate(375deg) translate(0, 0px);
  }
}

.item-3 {
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-animation: right-3 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: right-3 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-3 > * {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #e8ddb5;
}
@-webkit-keyframes right-3 {
  10% {
    -webkit-transform: rotate(500deg) translate(0, 0px);
            transform: rotate(500deg) translate(0, 0px);
  }
  50%, 65% {
    -webkit-transform: rotate(500deg) translateX(-100px);
            transform: rotate(500deg) translateX(-100px);
  }
  100% {
    -webkit-transform: rotate(500deg) translate(0, 0px);
            transform: rotate(500deg) translate(0, 0px);
  }
}
@keyframes right-3 {
  10% {
    -webkit-transform: rotate(500deg) translate(0, 0px);
            transform: rotate(500deg) translate(0, 0px);
  }
  50%, 65% {
    -webkit-transform: rotate(500deg) translateX(-100px);
            transform: rotate(500deg) translateX(-100px);
  }
  100% {
    -webkit-transform: rotate(500deg) translate(0, 0px);
            transform: rotate(500deg) translate(0, 0px);
  }
}

.item-4 {
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-animation: right-4 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: right-4 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-4 > * {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #b2c9ab;
}
@-webkit-keyframes right-4 {
  10% {
    -webkit-transform: rotate(625deg) translate(0, 0px);
            transform: rotate(625deg) translate(0, 0px);
  }
  50%, 65% {
    -webkit-transform: rotate(625deg) translateX(-100px);
            transform: rotate(625deg) translateX(-100px);
  }
  100% {
    -webkit-transform: rotate(625deg) translate(0, 0px);
            transform: rotate(625deg) translate(0, 0px);
  }
}
@keyframes right-4 {
  10% {
    -webkit-transform: rotate(625deg) translate(0, 0px);
            transform: rotate(625deg) translate(0, 0px);
  }
  50%, 65% {
    -webkit-transform: rotate(625deg) translateX(-100px);
            transform: rotate(625deg) translateX(-100px);
  }
  100% {
    -webkit-transform: rotate(625deg) translate(0, 0px);
            transform: rotate(625deg) translate(0, 0px);
  }
}

.item-5 {
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-animation: right-5 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: right-5 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-5 > * {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #b2c9ab;
}
@-webkit-keyframes right-5 {
  10% {
    -webkit-transform: rotate(750deg) translate(0, 0px);
            transform: rotate(750deg) translate(0, 0px);
  }
  50%, 65% {
    -webkit-transform: rotate(750deg) translateX(-100px);
            transform: rotate(750deg) translateX(-100px);
  }
  100% {
    -webkit-transform: rotate(750deg) translate(0, 0px);
            transform: rotate(750deg) translate(0, 0px);
  }
}
@keyframes right-5 {
  10% {
    -webkit-transform: rotate(750deg) translate(0, 0px);
            transform: rotate(750deg) translate(0, 0px);
  }
  50%, 65% {
    -webkit-transform: rotate(750deg) translateX(-100px);
            transform: rotate(750deg) translateX(-100px);
  }
  100% {
    -webkit-transform: rotate(750deg) translate(0, 0px);
            transform: rotate(750deg) translate(0, 0px);
  }
}

.item-6 {
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-animation: right-6 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: right-6 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-6 > * {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #b2c9ab;
}
@-webkit-keyframes right-6 {
  10% {
    -webkit-transform: rotate(875deg) translate(0, 0px);
            transform: rotate(875deg) translate(0, 0px);
  }
  50%, 65% {
    -webkit-transform: rotate(875deg) translateX(-100px);
            transform: rotate(875deg) translateX(-100px);
  }
  100% {
    -webkit-transform: rotate(875deg) translate(0, 0px);
            transform: rotate(875deg) translate(0, 0px);
  }
}
@keyframes right-6 {
  10% {
    -webkit-transform: rotate(875deg) translate(0, 0px);
            transform: rotate(875deg) translate(0, 0px);
  }
  50%, 65% {
    -webkit-transform: rotate(875deg) translateX(-100px);
            transform: rotate(875deg) translateX(-100px);
  }
  100% {
    -webkit-transform: rotate(875deg) translate(0, 0px);
            transform: rotate(875deg) translate(0, 0px);
  }
}

.item-7 {
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-animation: right-7 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: right-7 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-7 > * {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #92b6b1;
}
@-webkit-keyframes right-7 {
  10% {
    -webkit-transform: rotate(1000deg) translate(0, 0px);
            transform: rotate(1000deg) translate(0, 0px);
  }
  50%, 65% {
    -webkit-transform: rotate(1000deg) translateX(-100px);
            transform: rotate(1000deg) translateX(-100px);
  }
  100% {
    -webkit-transform: rotate(1000deg) translate(0, 0px);
            transform: rotate(1000deg) translate(0, 0px);
  }
}
@keyframes right-7 {
  10% {
    -webkit-transform: rotate(1000deg) translate(0, 0px);
            transform: rotate(1000deg) translate(0, 0px);
  }
  50%, 65% {
    -webkit-transform: rotate(1000deg) translateX(-100px);
            transform: rotate(1000deg) translateX(-100px);
  }
  100% {
    -webkit-transform: rotate(1000deg) translate(0, 0px);
            transform: rotate(1000deg) translate(0, 0px);
  }
}

.item-8 {
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-animation: right-8 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: right-8 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-8 > * {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #92b6b1;
}
@-webkit-keyframes right-8 {
  10% {
    -webkit-transform: rotate(1125deg) translate(0, 0px);
            transform: rotate(1125deg) translate(0, 0px);
  }
  50%, 65% {
    -webkit-transform: rotate(1125deg) translateX(-100px);
            transform: rotate(1125deg) translateX(-100px);
  }
  100% {
    -webkit-transform: rotate(1125deg) translate(0, 0px);
            transform: rotate(1125deg) translate(0, 0px);
  }
}
@keyframes right-8 {
  10% {
    -webkit-transform: rotate(1125deg) translate(0, 0px);
            transform: rotate(1125deg) translate(0, 0px);
  }
  50%, 65% {
    -webkit-transform: rotate(1125deg) translateX(-100px);
            transform: rotate(1125deg) translateX(-100px);
  }
  100% {
    -webkit-transform: rotate(1125deg) translate(0, 0px);
            transform: rotate(1125deg) translate(0, 0px);
  }
}

.item-9 {
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-animation: right-9 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: right-9 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-9 > * {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #92b6b1;
}
@-webkit-keyframes right-9 {
  10% {
    -webkit-transform: rotate(1250deg) translate(0, 0px);
            transform: rotate(1250deg) translate(0, 0px);
  }
  50%, 65% {
    -webkit-transform: rotate(1250deg) translateX(-100px);
            transform: rotate(1250deg) translateX(-100px);
  }
  100% {
    -webkit-transform: rotate(1250deg) translate(0, 0px);
            transform: rotate(1250deg) translate(0, 0px);
  }
}
@keyframes right-9 {
  10% {
    -webkit-transform: rotate(1250deg) translate(0, 0px);
            transform: rotate(1250deg) translate(0, 0px);
  }
  50%, 65% {
    -webkit-transform: rotate(1250deg) translateX(-100px);
            transform: rotate(1250deg) translateX(-100px);
  }
  100% {
    -webkit-transform: rotate(1250deg) translate(0, 0px);
            transform: rotate(1250deg) translate(0, 0px);
  }
}

#preloader.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #292d3e;
}
#preloader.no-active {
  display: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

/**
 * Последовательно отображать `основной` элемент в IE.
 */
main {
  display: block;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.container {
  font-size: 1.6rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  background-color: #fff;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body.lock {
  overflow: hidden;
}
@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input,
button,
textarea {
  font-family: "Roboto", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img,
svg {
  vertical-align: top;
  max-width: 100%;
  height: auto;
  border-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

p + p {
  margin-top: 1em;
}

/* Form */
input::-ms-clear {
  display: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
  border: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

label {
  cursor: pointer;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.container {
  padding: 0px 15px;
  margin: 0px auto;
  max-width: 1200px;
  width: 100%;
}
@media (max-width: 1212px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}
@media (max-width: 479.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.container-fluid {
  padding: 0px 30px;
  margin: 0px auto;
  max-width: 100%;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Bold"), local("Raleway-Bold"), url("../fonts/raleway/ralewaybold.woff2") format("woff2"), url("../fonts/raleway/ralewaybold.woff") format("woff"), url("../fonts/raleway/ralewaybold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/*==========================================================================*/
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans/OpenSans-Semibold.woff2") format("woff2");
  src: url("../fonts/opensans/OpenSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../fonts/roboto/Robotothin.woff2") format("woff2"), url("../fonts/roboto/Robotothin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url("../fonts/roboto/Robotothinitalic.woff2") format("woff2"), url("../fonts/roboto/Robotothinitalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto/Robotolight.woff2") format("woff2"), url("../fonts/roboto/Robotolight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("../fonts/roboto/Robotolightitalic.woff2") format("woff2"), url("../fonts/roboto/Robotolightitalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Italic"), local("Roboto-Italic"), url("../fonts/roboto/Roboto-Italic.woff2") format("woff2"), url("../fonts/roboto/Roboto-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("../fonts/roboto/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("../fonts/roboto/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto/Roboto-Black.woff2") format("woff2"), url("../fonts/roboto/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url("../fonts/roboto/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "LineIcons";
  src: url("../fonts/lineicons/LineIcons.woff2") format("woff2"), url("../fonts/lineicons/LineIcons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#toTop {
  z-index: 500;
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  overflow: hidden;
  width: 51px;
  height: 51px;
  border: none;
  text-indent: 100%;
  background: url(../img/icon/ui.totop.png) no-repeat left top;
}

#toTopHover {
  background: url(../img/icon/ui.totop.png) no-repeat left -51px;
  width: 51px;
  height: 51px;
  display: block;
  overflow: hidden;
  float: left;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}

#toTop:active,
#toTop:focus {
  outline: none;
}

@media (max-width: 550px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 100;
  }
  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu.active span {
    background-color: #000;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
  }
  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 8px;
  }
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ibg img {
  display: none;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__top {
  background-color: #fff;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}
.header__text {
  margin-left: auto;
  margin-right: 50px;
  font-size: 1.5rem;
  line-height: 24px;
  color: #546e7a;
}
.header__text span {
  color: #e74c3c;
}
.header__btn {
  font-size: 1.2rem;
  line-height: 24px;
  color: #fff;
  border-radius: 4px;
  margin-right: 7px;
}
.header__btn_green {
  background-color: #8bc34a;
  padding: 12px 21px 9px;
}
.header__btn_red {
  background-color: #e74c3c;
  padding: 11px 14px 10px;
}
.header__bottom {
  background-color: #263238;
}

.menu__list {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__list li {
  display: inline-block;
}
.menu__list li + li {
  margin-left: 30px;
}
.menu__link {
  font-size: 1.4rem;
  color: #fff;
  line-height: 30px;
}

.search {
  position: relative;
  min-height: 533px;
}
.search__inner {
  padding: 156px 0px 100px 0px;
}
.search__title {
  font-size: 4.8rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #fff;
  padding: 0px 0px 34px 0px;
  text-align: center;
}
.search__text {
  color: #fff;
  font-size: 2rem;
  line-height: 30px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 50px;
}
.search__form {
  position: relative;
  max-width: 670px;
  margin: 0px auto;
  width: 100%;
}
.search__form::-webkit-input-placeholder {
  font-size: 1.4rem;
  color: #90a4ae;
}
.search__form::-moz-placeholder {
  font-size: 1.4rem;
  color: #90a4ae;
}
.search__form:-ms-input-placeholder {
  font-size: 1.4rem;
  color: #90a4ae;
}
.search__form::-ms-input-placeholder {
  font-size: 1.4rem;
  color: #90a4ae;
}
.search__form::placeholder {
  font-size: 1.4rem;
  color: #90a4ae;
}
.search__form input {
  display: block;
  width: 100%;
  height: 56px;
  padding: 0px 50px 0px 20px;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
          box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
  border-radius: 4px;
}
.search__form button {
  position: absolute;
  top: 20px;
  left: 625px;
  background-color: transparent;
}
.search__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.products {
  padding: 100px 0px 0px 0px;
  background-color: #f4f6f5;
}
.products__title {
  color: #263238;
  margin: 0px 0px 30px 0px;
}
.products__inner {
  padding: 30px 0px 110px 0px;
}
.products__btn {
  text-align: center;
  margin-bottom: 60px;
}
.products__btn button {
  padding: 12px 21px;
  background-color: #fff;
  color: #263238;
}
.products__btn button.mixitup-control-active {
  background-color: #e74c3c;
  color: #fff;
}
.products__btn button + button {
  margin-left: 6px;
}
.products__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
}
.products__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0px 15px;
}
.products__btn-bottom {
  text-align: center;
  padding-top: 45px;
}
.products__btn-bottom button {
  padding: 21px 32px;
  background-color: #fff;
  color: #263238;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
          box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
}
.products__btn-bottom button.mixitup-control-active {
  background-color: #e74c3c;
  color: #fff;
}
.products__btn-bottom button + button {
  margin-left: 12px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.item {
  max-width: 442px;
  width: 100%;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
          box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
}
.item__image {
  min-height: 250px;
  display: block;
}
.item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 90px;
  border-bottom: 1px solid #e7ecf2;
}
.item__name {
  padding: 30px 0px 0px 35px;
  max-width: 310px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.item__name a {
  display: block;
}
.item__name a + a {
  margin: 15px 0px 0px 0px;
}
.item__title {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
}
.item__category {
  color: #8bc34a;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
}
.item__price {
  padding: 35px 30px 0px 0px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.item__info {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  color: #546e7a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 0px 35px;
}
.item__img {
  height: 30px;
  width: 30px;
}
.item__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
}
.item__nik {
  padding-left: 15px;
  max-width: 285px;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #546e7a;
}
.item__star {
  padding-right: 30px;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #263238;
}

.slider {
  padding: 117px 0px;
}
.slider__title {
  margin: 0px 0px 60px 0px;
}
.slider__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slick-slider {
  position: relative;
  max-width: 100%;
  margin: 0px auto;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.slick-slider .slick-track {
  position: relative;
  width: 100%;
}
.slick-slider .slick-slide {
  overflow: hidden;
  float: left;
  position: relative;
}
.slick-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 67px 0px 0px 0px;
}
.slick-slider .slick-dots li {
  margin: 0px 7px 0px 0px;
}
.slick-slider .slick-dots li button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #c8c8c8;
  background-color: transparent;
}
.slick-slider .slick-dots li.slick-active button {
  background-color: #8bc34a;
}

.advantages {
  background-color: #263238;
  padding: 124px 0px 109px 0px;
}
.advantages__title {
  color: #fff;
  padding-bottom: 45px;
}
.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.advantages__column {
  padding-top: 45px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
}
.advantages__item {
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 25px;
  text-align: center;
}
.advantages__item:hover .advantages__icon {
  background-color: #8bc34a;
}
.advantages__item:hover .advantages__subtitle {
  color: #8bc34a;
}
.advantages__item:hover .lni-gift,
.advantages__item:hover .lni-lock-alt,
.advantages__item:hover .lni-heart {
  color: #fff;
}
.advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 112px;
  width: 112px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0px auto;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.advantages__icon .lni-gift,
.advantages__icon .lni-lock-alt,
.advantages__icon .lni-heart {
  font-size: 7rem;
  color: #000;
}
.advantages__icon .lni-heart {
  margin-top: 10px;
}
.advantages__subtitle {
  padding-top: 35px;
  font-size: 2.4rem;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.advantages__text {
  padding-top: 25px;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: #b0bec5;
  line-height: 24px;
}

.author {
  min-height: 761px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.author__box {
  max-width: 660px;
  min-height: 210px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8bc34a;
}
.author__title {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  max-width: 280px;
  margin-left: 61px;
  margin-right: 49px;
}
.author__title span {
  font-weight: 700;
}
.author__link {
  padding: 25px 39px;
  margin-right: 50px;
  background-color: #fff;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  color: #263238;
}
.author__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.tutorial {
  padding: 65px 0px 120px 0px;
}
.tutorial__title {
  margin: 0px 0px 55px 0px;
}
.tutorial__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tutorial__item {
  padding: 10px 0px 0px 0px;
}
.tutorial__image {
  min-height: 270px;
  min-width: 370px;
}
.tutorial__descr {
  font-size: 2.4rem;
  font-family: "Roboto", sans-serif;
  color: #263238;
  font-weight: 700;
  padding: 40px 10px;
  text-align: center;
  background-color: #f8f8f8;
}

/*==========  Desktop First Method  ==========*/
@media only screen and (max-width: 767.98px) {
  .container-fluid {
    padding: 0px 15px;
  }
}
/*==========  Mobile First Method  ==========*/