@font-face {
  font-family: "Raleway";
  src        : local("Raleway Bold"), local("Raleway-Bold"), url("../fonts/raleway/ralewaybold.woff2") format("woff2"),
    url("../fonts/raleway/ralewaybold.woff") format("woff"), url("../fonts/raleway/ralewaybold.ttf") format("truetype");
  font-weight: 700;
  font-style : normal;
}



/*==========================================================================*/
@font-face {
  font-family: 'Lato';
  src        : url('../fonts/lato/Lato-Semibold.woff') format('woff');
  font-weight: 600;
  font-style : normal;
}

@font-face {
  font-family : 'Open Sans';
  src         : url('../fonts/opensans/OpenSans-Semibold.woff2') format('woff2');
  src         : url('../fonts/opensans/OpenSans-Semibold.woff') format('woff');
  font-weight : 600;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src        : local('Roboto Thin'), local('Roboto-Thin'), url('../fonts/roboto/Robotothin.woff2') format('woff2'), url('../fonts/roboto/Robotothin.woff') format('woff');
  font-weight: 100;
  font-style : normal;
}

@font-face {
  font-family: 'Roboto';
  src        : local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('../fonts/roboto/Robotothinitalic.woff2') format('woff2'), url('../fonts/roboto/Robotothinitalic.woff') format('woff');
  font-weight: 100;
  font-style : italic;
}

@font-face {
  font-family: 'Roboto';
  src        : local('Roboto Light'), local('Roboto-Light'), url('../fonts/roboto/Robotolight.woff2') format('woff2'), url('../fonts/roboto/Robotolight.woff') format('woff');
  font-weight: 300;
  font-style : normal;
}

@font-face {
  font-family: 'Roboto';
  src        : local('Roboto Light Italic'), local('Roboto-LightItalic'), url('../fonts/roboto/Robotolightitalic.woff2') format('woff2'), url('../fonts/roboto/Robotolightitalic.woff') format('woff');
  font-weight: 300;
  font-style : italic;
}

@font-face {
  font-family: 'Roboto';
  src        : local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'), url('../fonts/roboto/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style : normal;
}

@font-face {
  font-family: 'Roboto';
  src        : local('Roboto Italic'), local('Roboto-Italic'), url('../fonts/roboto/Roboto-Italic.woff2') format('woff2'), url('../fonts/roboto/Roboto-Italic.woff') format('woff');
  font-weight: 400;
  font-style : italic;
}

@font-face {
  font-family: 'Roboto';
  src        : local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/roboto/Roboto-Medium.woff2') format('woff2'), url('../fonts/roboto/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style : normal;
}

@font-face {
  font-family: 'Roboto';
  src        : local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('../fonts/roboto/Roboto-MediumItalic.woff2') format('woff2'), url('../fonts/roboto/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style : italic;
}

@font-face {
  font-family: 'Roboto';
  src        : local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'), url('../fonts/roboto/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style : normal;
}

@font-face {
  font-family: 'Roboto';
  src        : local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('../fonts/roboto/Roboto-BoldItalic.woff2') format('woff2'), url('../fonts/roboto/Roboto-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style : italic;
}

@font-face {
  font-family: 'Roboto';
  src        : local('Roboto Black'), local('Roboto-Black'), url('../fonts/roboto/Roboto-Black.woff2') format('woff2'), url('../fonts/roboto/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style : normal;
}

@font-face {
  font-family: 'Roboto';
  src        : local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('../fonts/roboto/Roboto-BlackItalic.woff2') format('woff2'), url('../fonts/roboto/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style : italic;
}

@font-face {
  font-family: 'LineIcons';
  src        : url('../fonts/lineicons/LineIcons.woff2') format('woff2'), url('../fonts/lineicons/LineIcons.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}