//===================================================================================
//переменные
//===================================================================================
$headerbgcolor :#5E5373;
$burgercolor   : #fff;
$menucolor     :#18B5A4;
$menufontsize  :1.6rem;
$menulinkcolor :#fff;
$menuhovercolor:#000;
$mediasize     :767.98px;
//===================================================================================

.header {
  position        : fixed;
  width           : 100%;
  top             : 0;
  left            : 0;
  z-index         : 50;
  background-color: $headerbgcolor;

  &__body {
    position       : relative;
    // z-index: 2;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    height         : 80px;
    padding        : 0px 10px;
  }

  &__logo {
    flex         : 0 0 60px;
    border-radius: 50%;
    overflow     : hidden;
    position     : relative;
    z-index      : 3;
  }
}

.menu {

  &__list {
    display     : flex;
    position    : relative;
    padding     : 0px 5px;
    z-index     : 2;
    font-size   : $menufontsize;
    // color    : #000;

    li {
      list-style: none;
      margin    : 0px 0px 0px 10px;
    }

    @media (max-width: $mediasize) {
      flex-direction  : column;
      justify-content : space-evenly;
      align-items     : center;
      position        : fixed;
      left            : 0;
      top             : 0;
      height          : 100%;
      width           : 100%;
      background-color: $menucolor;
      padding         : 50px 0px 20px 0px;
      overflow        : auto;
      @include tr(0px, -100%, 0px);
      @include anim(0.4s, 0s);

      &.active {
        @include tr(0px, 0px, 0px);
      }
    }
  }

  &__link {
    color         : $menulinkcolor;
    text-transform: uppercase;

    &:hover {
      color: $menuhovercolor;
    }
  }
}

//================================================================================
// меню бургер
//================================================================================
.icon-menu {
  @media (max-width: $mediasize) {
    display : block;
    position: absolute;
    top     : 25px;
    right   : 20px;
    width   : 30px;
    height  : 18px;
    cursor  : pointer;
    z-index : 100;

    span {
      @include anim(0.3s, 0s);
      top             : 8px;
      left            : 0px;
      position        : absolute;
      width           : 100%;
      height          : 2px;
      background-color: $burgercolor;

      &:first-child {
        top: 0px;
      }

      &:last-child {
        top   : auto;
        bottom: 0px;
      }
    }

    &.active {
      span {
        background-color: $burgercolor;
        @include scale(0);

        &:first-child {
          @include rotate(-45deg);
          top: 8px;
        }

        &:last-child {
          @include rotate(45deg);
          bottom: 8px;
        }
      }
    }
  }
}

//===================================================================================