//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px; //минимальная ширина ниже которой браузер не должен сужаться
$mw      : 1170px+30px; //ширина контентной части по макету
$md1     : $mw+12px; //первый breackpoint, когда ширина доходит до ширины контента + по 6 пиксилей с каждой стороны
$md2     : 992.98px; //второй breackpoint планшетное разрешение
$md3     : 767.98px; //третий breackpoint мобильное разрешение
$md4     : 479.98px; //четвертый breackpoint маленькие мобильники
//</ПЕРЕМЕННЫЕ>==============================================================================================================

.container {
  padding  : 0px 15px;
  margin   : 0px auto;
  max-width: $mw;
  width    : 100%;

  @media (max-width: $md1) {
    max-width: 970px;
  }

  @media (max-width: 992.98px) {
    max-width: 750px;
  }

  @media (max-width: 767.98px) {
    max-width: none;
    padding  : 0 10px;
  }

  @media (max-width: 479.98px) {
    max-width: none;
    padding  : 0 10px;
  }
}



//</ОБОЛОЧКА>===========================================================================================================