//==========================================================================================================================================================
.slider {
  &__body {
    background-color: #292d3e;
    padding         : 20px 0px 20px 0px;
  }
}

.slider-big {
  margin: 10px 0px 0px 0px;
}

.gallery {}

.item {
  text-align: center;
}

.slider-small {
  margin: 10px 0px 0px 0px;

  @media (max-width: 767.98px) {
    display: none;
  }
}

.gallery2 {}

img {
  max-width: 100%;
  height   : auto;
}

//===================================================================================================================