//==============================================================================
// contacts
//==============================================================================

.contact {
  background-color: #F4F6F5;
  padding-bottom  : 138px;

  &__wrapper {
    background-color: #fff;
    border          : 1px solid #d7d7d7;
  }

  &__header {
    font-size    : 24px;
    font-weight  : 500;
    padding      : 20px 0px 20px 40px;
    border-bottom: 1px solid #d7d7d7;
  }

  &__inner {
    padding: 30px 40px 15px 40px;
  }

  &__map {
    max-width       : 1093px;
    height          : 413px;
    background-color: #7B1FA2;
    margin-bottom   : 30px;
  }
}

.content {

  &__row {
    padding-top    : 30px;
    display        : flex;
    justify-content: space-between;

  }

  &__info {}

  &__info-title {
    font-size     : 20px;
    font-weight   : 500;
    padding-bottom: 20px;
    padding-left  : 40px;
    line-height   : 24px;
    position      : relative;

    &:before {
      position   : absolute;
      left       : 0;
      font-family: 'icomoon';
      color      : #8bc34a;
      font-size  : 24px;
    }

    &:after {
      content: "";

      position        : absolute;
      bottom          : 0;
      left            : 42px;
      width           : 50px;
      height          : 3px;
      background-color: #8bc34a;
    }
  }

  &__info-content {
    padding-top   : 25px;
    padding-bottom: 35px;
    max-width     : 250px;

    p {
      font-size   : 15px;
      line-height : 22px;
      color       : #707070;
      padding-left: 40px;
    }

    a {
      color       : #707070;
      padding-left: 40px;
    }
  }



  &__form {}

  &__form-title {
    margin-bottom: 25px;
    font-size    : 24px;
    font-weight  : 500;
  }

  &__form-row {
    display        : flex;
    justify-content: space-between;
    margin-bottom  : 28px;
  }
}

.map {
  &:before {
    content: "\f041";
  }
}

.phone {
  &:before {
    content: "\f095";
  }
}

.mail {
  &:before {
    content: "\f003";
  }
}

.form {

  &__column {}
}

.form-group {}

.a-form-group {}

.form-control {
  font-size: 15px;
  width    : 352px;
  color    : #7a7a7a;
}

input[type="email"],
input[type="text"],
textarea {
  padding-left    : 15px;
  padding-right   : 10px;
  padding-top     : 14px;
  padding-bottom  : 14px;
  background-color: #F1F4F5;
  resize          : none;
  color           : #000;
}

.form-control-area {
  margin-bottom: 23px;
}

.submit {}

.btnsend {
  display         : block;
  text-transform  : uppercase;
  font-size       : 16px;
  font-weight     : 700;
  background-color: #8BC34A;
  text-align      : center;
  padding         : 19px 35px 15px 35px;
  color           : #fff;
}