//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================


//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width            : 100%;
  min-height       : 100vh;
  overflow         : hidden;
  // display: flex;
  // flex-direction: column;

  &.loaded {}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
// @import "forms.scss";
@import "partials/preloader.scss";
@import "partials/reset.scss";
@import "partials/my_grid.scss";
@import "partials/fonts.scss";
@import "partials/ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
// @import "partials/menu_lending.scss";
// @import "partials/menu_light.scss";
// @import "header.scss";
// @import "partials/sliders.scss";
// @import "partials/tabs.scss";
// @import "footer.scss";
// @import "partials/slider_slick.scss";
// @import "partials/spollers.scss";


// @import "baguetteBox.scss"; //Для просмотра картинки при нажатии на нее sliders.scss
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//<ОСНОВНОЙ БЛОК>====================================================================================================
.container {}

.page {
  flex: 1 1 auto;
}




//===================================================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "media.scss";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>===================================================================================================