//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";

//</МИКСИНЫ>===============================================================================================
//=============================================================================================
//Переменные
//=============================================================================================
$bgcolor:#263238; //цвет футера и меню

//=============================================================================================
//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width            : 100%;
  min-height       : 100vh;
  overflow         : hidden;
  // display: flex;
  // flex-direction: column;

  &.loaded {}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
// @import "forms.scss";
@import "partials/preloader.scss";
@import "partials/reset.scss";
@import "partials/my_grid.scss";
@import "partials/fonts.scss";
@import "partials/ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
// @import "partials/menu_lending.scss";
// @import "partials/menu_light.scss";
// @import "header.scss";
// @import "partials/sliders.scss";
// @import "partials/tabs.scss";
// @import "footer.scss";
// @import "partials/slider_slick.scss";
// @import "partials/spollers.scss";


// @import "baguetteBox.scss"; //Для просмотра картинки при нажатии на нее sliders.scss
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//<ОСНОВНОЙ БЛОК>====================================================================================================
.container {}

.page {
  flex: 1 1 auto;
}

//====================================================================================================
//section header
//====================================================================================================

.header {

  &__top {
    background-color: #fff;
  }

  &__inner {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    height         : 90px;
  }

  &__logo {}

  &__text {
    margin-left : auto;
    margin-right: 50px;
    font-size   : 1.5rem;
    line-height : 24px;
    color       : #546e7a;

    span {
      color: #e74c3c;
    }
  }



  &__box {}

  &__btn {
    font-size  : 1.2rem;
    line-height: 24px;
    color      : #fff;

    border-radius: 4px;
    margin-right : 7px;
  }

  &__btn_green {
    background-color: #8bc34a;
    padding         : 12px 21px 9px;
  }


  &__btn_red {
    background-color: #e74c3c;
    padding         : 11px 14px 10px;
  }

  &__bottom {
    background-color: $bgcolor;
  }

  &__menu {}
}

.basket {}

.menu {

  &__icon {}

  &__body {}

  &__list {
    height     : 60px;
    display    : flex;
    align-items: center;

    // justify-content: center;
    li {
      display: inline-block;

      &+li {
        margin-left: 30px;
      }
    }
  }

  &__link {
    font-size  : 1.4rem;
    color      : #fff;
    line-height: 30px;
  }
}



//===================================================================================================================

//===================================================================================================================
//section 
//===================================================================================================================


//===================================================================================================================
//section 
//===================================================================================================================

//=====================================================================================================================
//section 
//=====================================================================================================================

//====================================================================================================================
//section 
//====================================================================================================================

//===================================================================================================================
//section 
//===================================================================================================================

//====================================================================================================================
//section 
//====================================================================================================================

//====================================================================================================================
//section 
//====================================================================================================================

//====================================================================================================================
//section 
//====================================================================================================================

//====================================================================================================================

//===================================================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "media.scss";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>===================================================================================================