//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";

//</МИКСИНЫ>===============================================================================================
//=============================================================================================
//Переменные
//=============================================================================================
$bgcolor:#263238; //цвет футера и меню

//=============================================================================================
//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width            : 100%;
  min-height       : 100vh;
  overflow         : hidden;
  // display: flex;
  // flex-direction: column;

  &.loaded {}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
// @import "forms.scss";
@import "partials/preloader.scss";
@import "partials/reset.scss";
@import "partials/my_grid.scss";
@import "partials/fonts.scss";
@import "partials/ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
// @import "partials/menu_lending.scss";
// @import "partials/menu_light.scss";
// @import "header.scss";
// @import "partials/sliders.scss";
// @import "partials/tabs.scss";
// @import "footer.scss";
// @import "partials/slider_slick.scss";
// @import "partials/spollers.scss";
@import "partials/ibg.scss";


// @import "baguetteBox.scss"; //Для просмотра картинки при нажатии на нее sliders.scss
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//<ОСНОВНОЙ БЛОК>====================================================================================================
.container {}

.page {
  flex: 1 1 auto;
}

//====================================================================================================
//section header
//====================================================================================================

.header {

  &__top {
    background-color: #fff;
  }

  &__inner {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    height         : 90px;
  }

  &__text {
    margin-left : auto;
    margin-right: 50px;
    font-size   : 1.5rem;
    line-height : 24px;
    color       : #546e7a;

    span {
      color: #e74c3c;
    }
  }

  &__btn {
    font-size  : 1.2rem;
    line-height: 24px;
    color      : #fff;

    border-radius: 4px;
    margin-right : 7px;
  }

  &__btn_green {
    background-color: #8bc34a;
    padding         : 12px 21px 9px;
  }


  &__btn_red {
    background-color: #e74c3c;
    padding         : 11px 14px 10px;
  }

  &__bottom {
    background-color: $bgcolor;
  }

}

.basket {}

.menu {

  &__list {
    height     : 60px;
    display    : flex;
    align-items: center;

    // justify-content: center;
    li {
      display: inline-block;

      &+li {
        margin-left: 30px;
      }
    }
  }

  &__link {
    font-size  : 1.4rem;
    color      : #fff;
    line-height: 30px;
  }
}

//====================================================================================================

//====================================================================================================
//section search
//====================================================================================================
.search {
  position  : relative;
  min-height: 533px;

  &__inner {
    padding: 156px 0px 100px 0px;
  }

  &__title {
    font-size  : 4.8rem;
    font-weight: 700;
    font-family: "Roboto",
      sans-serif;
    color     : #fff;
    padding   : 0px 0px 34px 0px;
    text-align: center;

  }

  &__text {
    color        : #fff;
    font-size    : 2rem;
    line-height  : 30px;
    text-align   : center;
    font-weight  : 500;
    margin-bottom: 50px;
  }

  &__form {
    position: relative;

    &::placeholder {
      font-size: 1.4rem;
      color    : #90a4ae;
    }

    max-width: 670px;
    margin   : 0px auto;
    width    : 100%;

    input {
      display      : block;
      width        : 100%;
      height       : 56px;
      padding      : 0px 50px 0px 20px;
      box-shadow   : 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;

    }

    button {
      position        : absolute;
      top             : 20px;
      left            : 625px;
      background-color: transparent;

    }
  }

  &__image {
    position: absolute;
    width   : 100%;
    height  : 100%;
    top     : 0;
    left    : 0;
    z-index : -1;
  }
}

//====================================================================================================
//section products
//====================================================================================================
.products {
  padding         : 100px 0px 0px 0px;
  background-color: #f4f6f5;

  &__title {
    color : #263238;
    margin: 0px 0px 30px 0px;
  }

  &__inner {
    padding: 30px 0px 110px 0px;

  }

  &__btn {

    text-align   : center;
    margin-bottom: 60px;

    button {
      padding         : 12px 21px;
      background-color: #fff;
      color           : #263238;

      &.mixitup-control-active {
        background-color: #e74c3c;
        color           : #fff;
      }
    }

    button+button {
      margin-left: 6px;
    }
  }

  &__row {
    display: flex;

    justify-content: flex-start;
    flex-wrap      : wrap;
    margin         : 0px -15px;
  }

  &__item {}

  &__column {
    flex   : 0 1 25%;
    padding: 0px 15px;



  }

  &__btn-bottom {
    text-align : center;
    padding-top: 45px;


    button {
      padding         : 21px 32px;
      background-color: #fff;
      color           : #263238;
      box-shadow      : 0px 1px 3px 0px rgba(204, 216, 228, 0.75);

      &.mixitup-control-active {
        background-color: #e74c3c;
        color           : #fff;
      }
    }


    button+button {
      margin-left: 12px;
    }
  }
}

.title {
  font-size  : 36px;
  font-weight: 700;
  font-family: "Roboto",
    sans-serif;
  text-align: center;
}


.item {
  max-width    : 442px;
  width        : 100%;
  margin-bottom: 30px;
  box-shadow   : 0px 1px 2px 0px rgba(205, 214, 222, 0.75);

  &__image {
    min-height: 250px;
    display   : block;
  }

  &__content {
    display        : flex;
    justify-content: space-between;
    min-height     : 90px;
    border-bottom  : 1px solid #e7ecf2;

  }

  &__name {
    padding    : 30px 0px 0px 35px;
    max-width  : 310px;
    font-weight: 500;
    font-family: "Roboto",
      sans-serif;

    a {
      display: block;

      &+a {
        margin: 15px 0px 0px 0px;
      }
    }

  }

  &__title {

    font-size: 1.8rem;
    font-family: "Roboto",
      sans-serif;
  }

  &__category {
    color    : #8bc34a;
    font-size: 1.4rem;
    font-family: "Roboto",
      sans-serif;
  }



  &__price {
    padding    : 35px 30px 0px 0px;
    font-size  : 20px;
    font-weight: 700;
    font-family: "Roboto",
      sans-serif;
  }

  &__info {
    font-size: 1.4rem;
    font-family: "Roboto",
      sans-serif;
    color      : #546e7a;
    display    : flex;
    align-items: center;
    padding    : 0px 0px 0px 35px;
  }

  &__img {
    height: 30px;
    width : 30px;
  }

  &__author {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    min-height     : 70px;
  }

  &__nik {

    padding-left: 15px;
    max-width   : 285px;
    font-size   : 1.4rem;
    font-weight : 500;
    font-family : "Roboto",
      sans-serif;
    color: #546e7a;
  }

  &__star {
    padding-right: 30px;
    font-size    : 1.2rem;
    font-family  : "Roboto",
      sans-serif;
    font-weight: 400;
    color      : #263238;
  }
}

//====================================================================================================
//====================================================================================================
//section slider
//====================================================================================================
.slider {
  padding: 117px 0px;

  &__title {
    margin: 0px 0px 60px 0px;
  }

  &__body {
    display        : flex;
    justify-content: space-between;
  }

  &__item {}
}


.slick-slider {
  position : relative;
  max-width: 100%;
  margin   : 0px auto;

  .slick-track,
  .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform   : translate3d(0, 0, 0);
    -ms-transform    : translate3d(0, 0, 0);
    -o-transform     : translate3d(0, 0, 0);
    transform        : translate3d(0, 0, 0);
  }

  .slick-list {
    position: relative;
    overflow: hidden;
    width   : 100%;
  }

  .slick-track {
    position: relative;
    width   : 100%;
  }

  .slick-slide {
    overflow: hidden;
    float   : left;
    position: relative;
  }

  .slick-dots {
    @include flexbox();
    justify-content: center;
    align-items    : center;
    padding        : 67px 0px 0px 0px;

    li {
      margin: 0px 7px 0px 0px;

      button {
        font-size       : 0;
        width           : 15px;
        height          : 15px;
        border-radius   : 50%;
        border          : 1px solid #c8c8c8;
        background-color: transparent;
      }

      &.slick-active {
        button {
          background-color: #8bc34a;
        }
      }
    }
  }


}

//====================================================================================================
//sections advantages
//====================================================================================================
.advantages {
  background-color   : #263238;
  // padding         : 120px 0px;
  padding            : 124px 0px 109px 0px;

  &__title {
    color         : #fff;
    padding-bottom: 45px;
  }

  &__row {
    display: flex;
  }

  &__column {
    padding-top       : 45px;
    flex              : 0 1 33.3333%;
    // justify-content: center;
  }

  &__item {
    cursor     : pointer;
    align-items: center;
    padding    : 0px 25px;
    text-align : center;


    &:hover {
      .advantages__icon {
        background-color: #8bc34a;
      }

      .advantages__subtitle {
        color: #8bc34a;
      }

      .icon-gift,
      .icon-lock,
      .icon-heart-o {
        color: #fff;
      }
    }
  }

  &__icon {
    display         : flex;
    justify-content : center;
    align-items     : center;
    height          : 112px;
    width           : 112px;
    border-radius   : 50%;
    background-color: #fff;
    margin          : 0px auto;
    @include anim(0.3s, 0s);

    .icon-gift,
    .icon-lock,
    .icon-heart-o {
      font-size: 7rem;
      color    : #000;
    }

    .icon-heart-o {
      margin-top: 10px;
    }
  }

  &__subtitle {
    padding-top: 35px;
    font-size  : 2.4rem;
    font-family: "Roboto", sans-serif;
    color      : #ffffff;
    @include anim(0.3s, 0s);


  }



  &__text {
    padding-top: 25px;
    font-size  : 1.5rem;
    font-family: "Roboto",
      sans-serif;
    color      : #b0bec5;
    line-height: 24px;
  }
}

//====================================================================================================
//====================================================================================================
//section author
//====================================================================================================
.author {
  min-height     : 761px;
  position       : relative;
  display        : flex;
  justify-content: center;
  align-items    : center;

  &__box {
    max-width       : 660px;
    min-height      : 210px;
    width           : 100%;
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: #8bc34a;
  }

  &__title {
    // padding    : 0px 60px 0px 65px;
    font-size   : 3rem;
    font-family : "Roboto", sans-serif;
    color       : #ffffff;
    max-width   : 280px;
    margin-left : 61px;
    margin-right: 49px;

    span {
      font-weight: 700;
    }
  }

  &__link {
    padding         : 25px 39px;
    margin-right    : 50px;
    background-color: #fff;
    font-size       : 1.8rem;
    font-family     : "Roboto", sans-serif;
    color           : #263238;
  }


  &__image {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
    z-index : -1;
  }
}

//====================================================================================================
//section tutorial
//====================================================================================================
.tutorial {
  padding: 65px 0px 120px 0px;

  &__title {
    margin: 0px 0px 55px 0px;
  }

  &__row {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;
    align-items    : center;
  }

  &__item {
    padding: 10px 0px 0px 0px;
  }

  &__image {
    min-height: 270px;
    min-width : 370px;
  }

  &__descr {
    font-size: 2.4rem;
    font-family: "Roboto",
      sans-serif;
    color           : #263238;
    font-weight     : 700;
    padding         : 40px 10px;
    text-align      : center;
    background-color: #f8f8f8;
  }
}



//====================================================================================================
//section footer
//====================================================================================================
.footer {
  background-color: #263238;
  padding         : 100px 0px 90px 0px;

  &__row {
    display        : flex;
    justify-content: space-between;
  }

  &__column {
    max-width: 270px;
  }

  &__item {}

  &__title {
    padding : 15px 0px 25px 0px;
    position: relative;

    &::after {
      content         : '';
      position        : absolute;
      bottom          : 0;
      left            : 2px;
      width           : 50px;
      height          : 3px;
      background-color: #8bc34a;
    }
  }

  &__content {}

  &__text {
    padding    : 35px 0px 0px 0px;
    font-size  : 1.5rem;
    font-family: "Roboto", sans-serif;
    color      : #b7c3c8;
    line-height: 24px;
  }


  &__contacts {
    font-size: 1.4rem;
    font-family: "Lato",
      sans-serif;
    font-weight: 600;
    color      : #ffffff;
    line-height: 24px;
  }

  &__marker {
    display : block;
    padding : 35px 0px 0px 30px;
    position: relative;

    &::before {
      content    : '\f041';
      font-size  : 1.8rem;
      font-family: icomoon;
      color      : #8bc34a;
      position   : absolute;
      left       : 0;
    }

  }

  &__phone {
    display : block;
    padding : 25px 0px 0px 30px;
    position: relative;

    &::before {
      content    : '\f095';
      font-size  : 1.8rem;
      font-family: icomoon;
      color      : #8bc34a;
      position   : absolute;
      left       : 0;
    }
  }

  &__menu {
    padding: 35px 0px 0px 0px;
  }

  &__list {
    font-size  : 1.5rem;
    font-family: "Roboto", sans-serif;
    color      : #b7c3c8;

    li+li {
      margin-top: 25px;
    }
  }

  .social {
    &__link {
      display: flex;

      li+li {
        margin-left: 7px;
      }
    }
  }


  &__link {
    position    : relative;
    padding-left: 20px;

    &::before {
      content    : '\f105';
      font-size  : 1.8rem;
      font-family: icomoon;
      color      : #8bc34a;
      position   : absolute;
      left       : 0;
      top        : -2px;
    }
  }

  &__social {
    padding: 35px 0px 0px 0px;
  }

  &__email {
    position: relative;

    input {
      display     : block;
      width       : 100%;
      height      : 37px;
      max-width   : 215px;
      color       : #fff;
      margin-right: 25px;
      padding     : 0px 50px 0px 15px;

      background-color: #2f3c43;


      &::after {}

      &::placeholder {
        font-size  : 1.4rem;
        font-family: "Roboto", sans-serif;
        color      : #697378;
      }
    }

    button {
      position        : absolute;
      background-color: #8bc34a;
      right           : 0px;
      top             : 75px;
      height          : 37px;
      width           : 40px;

      &::before {
        content    : '\f124';
        position   : absolute;
        font-size  : 2rem;
        font-family: icomoon;
        color      : #fff;
        top        : 8px;
        right      : 11px;
      }
    }
  }

  &__bottom {
    background-color: #263238;
    border          : 1px solid #424d53;


  }



  &__copy {
    font-size  : 1.5rem;
    font-family: "Roboto", sans-serif;
    color      : #919699;
    text-align : center;
    padding    : 25px 0px 30px 0px;
  }
}



.footer-title {
  font-size  : 2.2rem;
  font-family: "Raleway";
  color      : #ffffff;
  font-weight: 700;
}



.email {

  &__title {
    padding    : 35px 0px 20px 0px;
    font-size  : 2rem;
    font-family: "Roboto", sans-serif;
    color      : #ffffff;
  }
}



//====================================================================================================
//section 
//====================================================================================================

//====================================================================================================
//section 
//====================================================================================================

//====================================================================================================
//section 
//====================================================================================================

//====================================================================================================

//====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "media.scss";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>===================================================================================================