<header class="header">
  <div class="container">
    <div class="header__body">
      <a href="#" class="header__logo">
        <img src="img/avatar.jpg" alt="">
      </a>
      <nav class="header__menu menu">
        <!-- burger -->
        <div class="menu__icon icon-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <!-- menu -->
        <div class="menu__body">
          <ul class="menu__list">
            <li><a href="#" class="menu__link">Главная</a></li>
            <li><a href="#" class="menu__link">Уроки</a></li>
            <li><a href="#" class="menu__link">Шпаргалки</a></li>
            <li><a href="#" class="menu__link">Полезное</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>