<div class="overlay"></div>
<header class="header">
  <div class="container header__container">
    <a href="#" class="logo">Some Logo</a>
    <nav class="nav header__nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="/" class="nav__link nav__link--drop">Главная</a>
          <ul class="nav__list nav__list--dropdown dropdown-list">
            <li class="dropdown-list__item mobile-back"><a href=""
                class="dropdown-list__link mobile-back__link">Назад</a></li>
            <li class="dropdown-list__item"><a href="https://tilda.cc/ru/colors/" class="dropdown-list__link">Как
                выбрать товар</a></li>
            <li class="dropdown-list__item"><a href="#" class="dropdown-list__link">Подбор по фото</a></li>
            <li class="dropdown-list__item"><a href="#" class="dropdown-list__link">Владельцам бизнеса</a></li>
            <li class="dropdown-list__item"><a href="#" class="dropdown-list__link">Отзывы</a></li>
            <li class="dropdown-list__item"><a href="#" class="dropdown-list__link">Оптом</a></li>
          </ul>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link nav__link--drop">Каталог</a>
          <ul class="nav__list nav__list--dropdown dropdown-list dropdown-submenu">
            <li class="dropdown-list__item mobile-back"><a href="#"
                class="dropdown-list__link mobile-back__link">Назад</a></li>
            <li class="dropdown-submenu__item">
              <h3 class="dropdown-submenu__title">Телефоны</h3>
              <ul class="dropdown-submenu__list">
                <li class="dropdown-submenu__list-item"><a href="#">Google Pixel</a></li>
                <li class="dropdown-submenu__list-item"><a href="#">Xiaomi</a></li>
                <li class="dropdown-submenu__list-item"><a href="#">Honor</a></li>
                <li class="dropdown-submenu__list-item"><a href="#">Samsung</a></li>
                <li class="dropdown-submenu__list-item"><a href="#">Apple</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu__item">
              <h3 class="dropdown-submenu__title">Компьютеры</h3>
              <ul class="dropdown-submenu__list">
                <li class="dropdown-submenu__list-item"><a href="#">MSI</a></li>
                <li class="dropdown-submenu__list-item"><a href="#">Acer</a></li>
                <li class="dropdown-submenu__list-item"><a href="#">Xiaomi</a></li>
                <li class="dropdown-submenu__list-item"><a href="#">Asus</a></li>
                <li class="dropdown-submenu__list-item"><a href="#">Huawei</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu__item">
              <h3 class="dropdown-submenu__title">Уникальное предложение</h3>
              <a href="" class="dropdown-submenu__banner">
                <img src="img/icon/banner.jpg" alt="">
              </a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link nav__link--drop">Информация</a>
          <ul class="nav__list nav__list--dropdown dropdown-list">
            <li class="dropdown-list__item mobile-back"><a href=""
                class="dropdown-list__link mobile-back__link">Назад</a></li>
            <li class="dropdown-list__item"><a href="#" class="dropdown-list__link">Как выбрать товар</a></li>
            <li class="dropdown-list__item"><a href="#" class="dropdown-list__link">Подбор по фото</a></li>
            <li class="dropdown-list__item"><a href="#" class="dropdown-list__link">Владельцам бизнеса</a></li>
            <li class="dropdown-list__item"><a href="#" class="dropdown-list__link">Отзывы</a></li>
            <li class="dropdown-list__item"><a href="#" class="dropdown-list__link">Оптом</a></li>
          </ul>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link nav__link--drop">Блог</a>
          <ul class="nav__list nav__list--dropdown dropdown-list">
            <li class="dropdown-list__item mobile-back"><a href=""
                class="dropdown-list__link mobile-back__link">Назад</a></li>
            <li class="dropdown-list__item"><a href="#" class="dropdown-list__link">Как выбрать товар</a></li>
            <li class="dropdown-list__item"><a href="#" class="dropdown-list__link">Подбор по фото</a></li>
            <li class="dropdown-list__item"><a href="#" class="dropdown-list__link">Владельцам бизнеса</a></li>
            <li class="dropdown-list__item"><a href="#" class="dropdown-list__link">Отзывы</a></li>
            <li class="dropdown-list__item"><a href="#" class="dropdown-list__link">Оптом</a></li>
          </ul>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link nav__link--drop">Контакты</a>
          <ul class="nav__list nav__list--dropdown dropdown-list">
            <li class="dropdown-list__item mobile-back"><a href="#"
                class="dropdown-list__link mobile-back__link">Назад</a></li>
            <li class="dropdown-list__item"><a href="#" class="dropdown-list__link">Как выбрать товар</a></li>
            <li class="dropdown-list__item"><a href="#" class="dropdown-list__link">Подбор по фото</a></li>
            <li class="dropdown-list__item"><a href="#" class="dropdown-list__link">Владельцам бизнеса</a></li>
            <li class="dropdown-list__item"><a href="#" class="dropdown-list__link">Отзывы</a></li>
            <li class="dropdown-list__item"><a href="#" class="dropdown-list__link">Оптом</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <button class="burger" aria-label="Открыть меню">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>