<div class="block">
  <div class="container">
    <div class="block__spollers one">
      <div class="spollers__item">
        <div class="spollers__title spoller">Заголовок 1</div>
        <div class="spollers__text"></div>
      </div>
      <div class="spollers__item">
        <div class="spollers__title spoller">Заголовок 2</div>
        <div class="spollers__text"></div>
      </div>
      <div class="spollers__item">
        <div class="spollers__title spoller">Заголовок 3</div>
        <div class="spollers__text"></div>
      </div>
    </div>
  </div>
</div>