<br>
<!-- todo:Для привязки к jquery block__tabs добавить класс tabs, а для block__navitem добавить класс tab__navitem. Для активной вкладки block__navitem и ее содержимому block__item добавить класс active. -->

<div class="block">
  <div class="container">
    <div class="block__tabs tabs">
      <!-- контейнер для вкладок -->
      <nav class="block__nav">
        <!-- собственно вкладки -->
        <div class="block__navitem tab__navitem active">Первая</div>
        <div class="block__navitem tab__navitem">Вторая</div>
        <div class="block__navitem tab__navitem">Третья</div>
      </nav>
      <!-- контейнер для содержимого вкладок -->
      <div class="block__items">
        <!-- содержимое вкладки 1 -->
        <div class="block__item tab__item active">
        </div>
        <!-- содержимое вкладки 2 -->
        <div class="block__item tab__item">
        </div>
        <!-- содержимое вкладки 3 -->
        <div class="block__item tab__item">
        </div>
      </div>
    </div>
  </div>
</div>